body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #EBF5EE;
    color: #0E3B43;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0E3B43;
    padding: 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

header h1 {
    margin: 0;
    color: #EBF5EE;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li button {
    background-color: #BFD1E5;
    color: #0E3B43;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

nav ul li button:hover {
    background-color: #D8BFAA;
}

.section {
    padding: 100px 20px;
    margin-top: 60px;
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    transition: background-color 0.5s ease-in-out;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    transition: background-color 0.5s ease-in-out;
}

#intro {
    background-color: #808080;
    color: #EBF5EE;
}

#about {
    background-color: #D8BFAA;
    color: #0E3B43;
}

#images {
    background-color: #BFD1E5;
    color: #0E3B43;
}

footer {
    background-color: #0E3B43;
    text-align: center;
    padding: 10px;
    color: #EBF5EE;
}

html {
    scroll-behavior: smooth;
}

.intro-buttons {
    margin-top: 20px;
}

.intro-buttons button {
    margin: 0 10px;
    background-color: #BFD1E5;
    color: #0E3B43;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.intro-buttons button:hover {
    background-color: #D8BFAA;
}
.employment-buttons {
    margin-top: 20px;
}

.employment-buttons button {
    margin: 0 10px;
    background-color: #BFD1E5;
    color: #0E3B43;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.employment-buttons button:hover {
    background-color: #D8BFAA;
}

.job-content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.job-image {
    width: 150px;
    height: 150px;
    margin-right: 20px;
    border-radius: 10px;
}

.pdf {
    width: 75%;
    aspect-ratio: 4 / 3;
}